
/* card */
.card {
    margin-top:2rem;
    margin-bottom:5rem;
    border:none;
    background-color:transparent;
    box-shadow:0px 0px 8px 5px #f4f4f4;
}
.card .img {
    margin-top:0rem;
}
.card .card-body {
    padding-top: 1rem;
}
.card .card-subtitle {
    font-size:10px; margin-bottom:0.4rem;
}
.card button {
    line-height:1;
    border-radius: 2rem;
}